

@defaultColor:white;
@headBgColor:gray;
@warnColor:pink;
@muteColor:gray;
@highLineColor:green;
@highLineBgColor:pink;




.fs(@px){
	font-size:unit(@px / 37.5,rem)
}

.w(@px){
	width:unit(@px / 37.5,rem)
}

.h(@px){
	height:unit(@px / 37.5,rem)
}

.lh(@px){
	line-height:unit(@px / 37.5,rem);
}

.mt(@px){
	margin-top:unit(@px / 37.5,rem);
}
.mb(@px){
	margin-bottom:unit(@px / 37.5,rem);
}
.ml(@px){
	margin-left:unit(@px / 37.5,rem);
}
.mr(@px){
	margin-right:unit(@px / 37.5,rem);
}

.pt(@px){
	padding-top:unit(@px / 37.5,rem);
}
.pb(@px){
	padding-bottom:unit(@px / 37.5,rem);
}
.pl(@px){
	padding-left:unit(@px / 37.5,rem);
}
.pr(@px){
	padding-right:unit(@px / 37.5,rem);
}



.f-r{
	float:right;
}
.f-l{
	float:left;
}

.d-ib{
	display:inline-block;
}
.db{
	display:block;
}

html.body{
	height:100%;
	width:100%;
	marign:0px;

}

body{
	.fs(16px);
}



.head{
	background-color:@headBgColor;
	.h(40);
	.lh(40);
	padding:0 7px;

	.text{
	    color:@defaultColor;
	}

	.custom{
	    background:@warnColor;
	    color:@defaultColor;
	    bordr-color:@warnColor;
	    .pl(15);
	    .pr(15);


	}
}

.foot{
	padding:0;
	margin:0;

	position:fixed;
	bottom:0;
	height:40px;
	left:0;
	right:0;
    font-size:0;
	li{
	    width:33%;
	    font-size:20px;
	    color:@muteColor;
	    text-align:center;
	    
	    &.select{
		    color:@highLineColor;
		    background:@highLineBgColor;
	    }
	}
}